doctype html
html
  head
    title WebBuildTools Sample Project
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Sample angular project to test the web build tools")
    base(href="/")
    link(rel="stylesheet", type="text/css", href="/main.css")

  body
    h1 Locale: #{locale}
    wbt-app Loading web-build-tools Angular demo...
  script(src="/main.js")
